{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          This is a simple blog website.
        </p>
        <p>
          You can register or log in if you have registered to the website
          already. A user who is logged in can make posts and leave comments,
          as well as delete and edit the posts that they made.
        </p>
        <p>
          In order to delete a post made by you, you just need to press a small cross
          next to your post on the main page. In order to edit a post you need to press
          "edit" button on the page where you view your post's details.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
