{% from "bootstrap5/form.html" import render_form %}
{% include "header.html" %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('{{post[-1]}}')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="post-heading">
          <h1>{{ post[2] }}</h1>
          <h2 class="subheading">{{ post[3] }}</h2>
          <span class="meta"
            >Posted by
            <!-- Changed from post.author -->
            <a href="#">{{ author_name }}</a>
            on {{ post[4] }}
          </span>
        </div>
      </div>
    </div>
  </div>
  <style>
      .cke_notification_warning {
      display: none !important;
  }
  </style>
</header>

<!-- Post Content -->
<article>
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        {{ post[5]|safe }}
        <!--Only show Edit Post button if user id is 1 (admin user) -->

        {% if 'id' in session and session['id'] == post[1] %}
        <div class="d-flex justify-content-end mb-4">
          <a
            class="btn btn-primary float-right"
            href="{{url_for('edit_post', post_id=post_id)}}"
            >Edit Post</a
          >
        </div>
        {% endif %}

        <!-- Comments Area -->
        <!-- Load the CKEditor -->
        {{ ckeditor.load() }}
        <!-- Configure it with the name of the form field from CommentForm -->
        {{ ckeditor.config(name='comment_text') }}
        <!-- Create the wtf quick form from CommentForm -->
        {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
        <div class="comment">
          <ul class="commentList">
            <!-- Show all comments -->
            {% for comment in comments: %}
            <li>
              <div class="commenterImage">
                <img
                  src="{{ comment[0] | gravatar }}"
                />
              </div>
              <div class="commentText">
                {{comment[0]|safe}}
                <span class="sub-text">{{comment[1]}}</span>
              </div>
            </li>
            {% endfor %}
          </ul>

        </div>
      </div>
    </div>
  </div>
</article>

<script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
<script>
    // Replace the textarea with CKEditor
    CKEDITOR.replace('comment_text');  // Use your field's actual id
</script>

{% include "footer.html" %}
